{% extends "base.html" %}
{% block title %}B&B{% endblock title %}
{% include "navbar.html" %}
{% block content %}

<div class="container">
<div class="row">
<div class="col-12">
<div class="card testimonial-card mb-4 p-0" style="margin-top: 90px;">
            <div class="card-up card-image" style="background: #1b191a;">
              <div class="rgba-black-strong h-100 p-3 white-text">
                <h4 class="yellow-text font-weight-bold">{{ user.fname }} {{ user.lname }}</h4>
                <p>{{ user.email }}</p>
              </div>
            </div>

            <!-- Avatar -->
            <div class="avatar mx-auto white z-depth-1">
                <img src="{{ url_for('static', filename='img/user_avatars/') }}{{ user.avatar }}" class="rounded-circle">
            </div>

<hr class="w-25 mx-auto mb-0">
<div class="card-body px-3 py-4">
<div class="row">
<div class="col-12 mx-auto">
<h4>Change password</h4>
<hr class="mx-auto" width="25px">
<div class="col-lg-6 col-md-6 col-sm-12 mx-auto">
{% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
<div class="alert alert-danger text-center alter-dismissable fade show" role="alert">
{{ message }}
<button type="button" class="close" data-dismiss="alert">
  <span aria-hidden="true">&times;</span>
</button>
</div>
{% else %}
<div class="alert alert-success text-center alter-dismissable fade show" role="alert">
{{ message }}
<button type="button" class="close" data-dismiss="alert">
  <span aria-hidden="true">&times;</span>
</button>
</div>
{% endif %} {% endfor %} {% endif %} {% endwith %}
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 mx-auto">
<form action="{{ url_for('auth.change_password') }}" method="POST">
<div class="md-form">
  <input type="text" name="old_pass" class="form-control">
  <label for="old_pass">Old password</label>
</div>
<div class="md-form">
  <input type="password" name="new_pass" class="form-control">
  <label for="new_pass">New password</label>
</div>
<div class="md-form">
  <input type="password" name="re_pass" class="form-control">
  <label for="re_pass">Confirm password</label>
</div>
<button type="submit" class="btn btn-primary btn-rounded">Change password</button>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


{% endblock content %}