{% extends "base.html" %}
{% block title %}B&B{% endblock title %}
{% include "navbar.html" %}
{% block content %}

<div class="container mb-4 py-5 z-depth-1" style="margin-top: 90px;">
  <!--Section: Content-->
  <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">

    <!--Google map-->
    <div id="map-container-google-1" class="z-depth-1 map-container mb-5">
      <iframe src="https://maps.google.com/maps?q=53.349804, -6.260310&z=15&output=embed" frameborder="0" allowfullscreen>
	</iframe>
    </div>
    <!--Google Maps-->

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-lg-5 col-md-12 mb-0 mb-md-0">

        <h3 class="font-weight-bold">Contact Us</h3>

        <p class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente
          molestiae
          numquam quas, voluptates omnis nulla ea odio quia similique corrupti magnam, doloremque laborum.</p>

        <p><span class="font-weight-bold mr-2">Email:</span><a href="">contact@mycompany.com</a></p>
        <p><span class="font-weight-bold mr-2">Phone:</span><a href="">+353 123 456 789</a></p>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-7 col-md-12 mb-4 mb-md-0">
<div id="res_div" class="text-center">
<p id="res_msg" class="text-center text-success"></p>
<img src="{{ url_for('static', filename='img/mail_response.gif') }}" style="width: 470px;">
</div>
<form id="contact_form">
        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-6">

            <!-- Material outline input -->
            <div class="md-form md-outline mb-0">
              <input type="text" id="fname" name="fname" class="form-control" required>
              <label for="form-first-name">First name</label>
            </div>

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6">

            <!-- Material outline input -->
            <div class="md-form md-outline mb-0">
              <input type="text" id="lname" name="lname" class="form-control" required>
              <label for="form-last-name">Last name</label>
            </div>

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

        <!-- Material outline input -->
        <div class="md-form md-outline mt-3">
          <input type="email" id="email" name="email" class="form-control" required>
          <label for="form-email">Email</label>
        </div>

        <!-- Material outline input -->
        <div class="md-form md-outline">
          <input type="text" id="subject" name="subject" class="form-control" required>
          <label for="form-subject">Subject</label>
        </div>

        <!--Material textarea-->
        <div class="md-form md-outline mb-3">
          <textarea id="message" name="message" class="md-textarea form-control" rows="3" required></textarea>
          <label for="form-message">How we can help?</label>
        </div>

        <button type="submit" id="submit_btn" class="btn btn-info ml-0">Submit<i class="far fa-paper-plane ml-2"></i></button>
</form>
      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->


  </section>
  <!--Section: Content-->


</div>



{% endblock content %}